{
  "root": true,

  "ignorePatterns": ["data"],

  "overrides": [
    {
      "files": ["**/*.js"],
      "env": { "node": true },
      "extends": ["airbnb-base"],
      "parserOptions": {
        "ecmaVersion": "latest"
      },
      "rules": {
        "linebreak-style": ["error", "windows"]
      }
    }
  ]
}
